/* Header */
.header {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header .inner-main {
    background: #fff;
    padding: 25px 30px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.header .inner-logo img {
    height: 36px;
    width: auto;
}

.header .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header .inner-menu ul li {
    margin-left: 30px;
}

.header .inner-menu ul li a {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header .inner-main ul li a:hover{
    color: var(--color-two);
}
.header .inner-icon-menu{
    display: none;
}

@media (max-width: 991.98px){
    .header .inner-icon-menu{
        display: block;
        font-size: 24px;
    }
    .header .inner-menu{
        display: none;
    }
}
/* End Header */

/* section-one  */
.section-one{
    background-image:  url(../css/image/banner-bg.png);
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    display: flex;
    padding-bottom: 90px;
    align-items: center;
    justify-content: center;
}
.section-one .inner-content {
    color: #fff;
    text-align: center; 
    max-width:  600px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
}
.section-one .inner-content .inner-title{
    margin-bottom: 30px;
    font-size: 36px;
}
.section-one .inner-content .inner-desc{
    margin-bottom: 30px;
    font-size: 14px;
}

@media (max-width: 991.98px){
    .section-one .inner-content .inner-title{
        font-size: 24px;
    }
    .section-one{
        margin-bottom: 300px;
    }
}
/* End section-one  */

/* Button */
.button {
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.button-one {
    background: var(--color-one);
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.button-one:hover {
    background: var(--color-two);
    color: #fff;
}

.button-two {
    background: var(--color-two);
    color: #fff;
    margin-bottom: 50px;
}

.button-two:hover {
    background: var(--color-one);
    color: #fff;
}
/* End Button */


/* Section-two */
.section-two {
    margin-top: -230px;
}

.section-two .inner-box {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
}

.section-two .inner-content {
    margin-top: 20px;
}

.section-two .inner-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color-one);
    margin: 0 auto;
}

.section-two .inner-box:hover .inner-icon {
    background: var(--color-two);
}

.section-two .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-two .inner-content .inner-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.section-two .inner-content .inner-desc {
    font-size: 16px;
    color: #777777;
}
/* End section-two  */

/* section-three */
.section-three {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-three .container {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 100px;
}

.section-three img {
    margin: 0 100px;
}

.section-three .inner-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-three .inner-desc {
    font-size: 17.5px;
    color: #777777;
    letter-spacing: 1px;
}

@media (max-width: 991px){
    .section-three img{
        margin: 0 auto;
        display: block;
        margin-bottom: 30px;   
    }
}
/* End section-three  */

/* section-four */
.section-four {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.section-four img {
    margin: 0 100px;
    position: relative;
}

.section-four .inner-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-four .inner-desc {
    font-size: 17.5px;
    color: #777777;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .section-four img {
        margin: 0 auto;
        display: block;
    }
}
/* End section-four  */

/* section-five */
.section-five {
    background-image: url(../css/image/work-process-bg.png);
    background-size: cover;
    background-position: center bottom;
    padding-bottom: 90px;
    display: flex;
}

.section-five .inner-content {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.section-five .inner-content .inner-title {
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.section-five .inner-content .inner-desc {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.section-five .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 40px 20px;
    text-align: center;
    background: #fff;
    padding: 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    display: block;
    position: relative;
    margin-bottom: 30px;
    z-index: 999;
}

.section-five .inner-box::before {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    opacity: 0.15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
}

.section-five .inner-box img {
    margin-bottom: 10px;
}

.section-five .inner-box .inner-sub-title {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
}

.section-five .inner-box .inner-sub-desc {
    color: #777777;
    font-size: 16px;
}
/* End section-five  */

/* section-six */
.section-six {
    margin-top: 110px;
    padding-bottom: 90px;
}

.section-six .inner-content {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.section-six .inner-content .inner-title {
    font-size: 28px;
    margin-bottom: 30px;
}

.section-six .inner-content .inner-desc {
    font-size: 17.5px;
    letter-spacing: 1px;
    color: #777777;
    margin-bottom: 60px;
}

.section-six .inner-box {
    border-radius: 15px;
    background: #ffffff;
    padding: 50px 0;
    text-align: left;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 30px;
}

.section-six .inner-box .inner-icon i{
    display: block;
    margin-left: 20px;
    margin-top: -20px;
    text-align: center;
}

.section-six .inner-box .inner-icon .inner-sub-title {
    margin-top: 25px;
    text-align: left;
    font-size: 14px;
    color: #777777;
    letter-spacing: 1px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    margin-right: 0;
    height: auto;
    font-weight: 400;
}

.section-six .inner-box .inner-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 10px;
}

.section-six .inner-box .inner-team {
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    transition: all 0.3s ease 0s;
}

.section-six .inner-box .inner-team .user-name {
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
}

.section-six .inner-box .inner-team span {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-two);
    letter-spacing: 0.25px;
}
/* End section-six  */

/* section-seven */
.section-seven {
    background: #f2f2f2;
    padding-bottom: 90px;
}

.section-seven .inner-content {
    text-align: center;
    max-width: 600px;
    margin: 80px auto;
}

.section-seven .inner-content .inner-title {
    font-size: 28px;
    margin-bottom: 30px;
}

.section-seven .inner-content .inner-desc {
    font-size: 16px;
    color: #777777;
    letter-spacing: 1px;
}

.section-seven .inner-item {
    background: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.section-seven .inner-item .inner-header {
    padding-bottom: 10px;
    display: block;
}

.section-seven .inner-item .inner-header .title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.section-seven .inner-item .inner-wrap {
    width: 80%;
    background: #8261EF;
    border-radius: 20px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 50px;
}

.section-seven .inner-item .inner-wrap .price {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}

.section-seven .inner-item .inner-wrap .period {
    color: #fff;
}

.section-seven .inner-item ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.section-seven .inner-item .inner-body ul .text {
    text-decoration: none !important;
}

.section-seven .inner-item .inner-body .list li {
    margin-bottom: 15px;
    font-size: 14px;
    color: #777777;
    padding: 0;
    text-decoration: line-through;
}
/* End section-seven  */

/* section-eight */
.section-eight {
    overflow: hidden;
    position: relative;
}

.section-eight::before {
    content: "";
    width: 140%;
    height: 140%;
    top: -20%;
    left: -20%;
    background-image: url(../css/image/fun-facts-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    opacity: 0.9;
}

.section-eight .inner-item {
    height: 340px;
    width: 100%;
    text-align: center;
    float: left;
}

.section-eight .inner-item strong {
    font-weight: 600;
    color: #fff;
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
    margin-top: 120px;
    text-align: center;
}

.section-eight .inner-item span {
    font-weight: 500;
    color: #fff;
    font-size: 17px;
    display: block;
    letter-spacing: 0.25px;
    text-align: center;
}

.section-eight .inner-check::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 32px;
    background-image: url(../css/image/circle-dec.png);
    top: 160px;
    left: 90%;
    background-repeat: no-repeat;
    text-align: center;
}

.section-eight .inner-middle::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 32px;
    background-image: url(../css/image/circle-dec.png);
    top: 160px;
    left: 90%;
    background-repeat: no-repeat;
    text-align: center;
}

@media (max-width: 991.98px){
    .section-eight .inner-item strong{
        margin-top: 0px;
    }
    .section-eight .inner-item{
        height: 20vh;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-eight .inner-check::after{
        display: none;
    }
    .section-eight .inner-middle::after{
        display: none;
    }
}
/* End section-eight  */

/* section-nine */
.section-nine {
    background: #fff;
}

.section-nine .inner-content {
    text-align: center;
    max-width: 600px;
    margin: 80px auto;
}

.section-nine .inner-content .inner-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.section-nine .inner-content .inner-desc {
    font-size: 16px;
    color: #777777;
    letter-spacing: 1px;
}
.section-nine .inner-item {
    text-align: center;
}

.section-nine .inner-item img {
    width: 99%;
    margin-bottom: 30px;
}
.section-nine .inner-item .inner-sub-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}

.section-nine .inner-item .inner-sub-desc {
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
}
/* End section-nine  */

/* section-ten */
.section-ten {
    background: #f2f2f2;
    margin-top: 100px;
    padding-bottom: 150px;
}

.section-ten .inner-content {
    text-align: center;
    max-width: 600px;
    margin: 80px auto;
}

.section-ten .inner-content .inner-title {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 120px;
}

.section-ten .inner-content .inner-desc {
    font-size: 16px;
    color: #777777;
    letter-spacing: 1.5px;
}

.section-ten .inner-content .inner-sub-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
}

.section-ten .inner-content .inner-sub-desc {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 25px;
    color: #777777;
}

.section-ten .inner-item span {
    color: #777777;
    margin-top: 10px !important;
}

.section-ten .contact-form input, .contact-form textarea{
    color: #000;
    border-radius: 25px;
    margin-bottom: 30px;
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 14px;
    padding-right: 20px;
}

.section-ten .contact-form textarea{
    height: 150px;
    padding-top: 20px;
}
/* End section-ten  */


/* footer */
.footer {
    background: #9b5cdb;
    height: auto;
    overflow: hidden;
    padding: 0;
}

.footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .social li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer .social li a {
    color: #9b5cdb;
    text-align: center;
    background: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    line-height: 36px;
}

.footer .text {
    text-align: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 13px;
    letter-spacing: 0.88px;
    font-weight: 400;
    border-top: 1px solid rgba(250,250,250,0.2);
}

.footer .social li a:hover{
    background: var(--color-two);
    color: #fff;
}
/* End footer  */